
html {
  background-color: beige;
}
header, p, div, body, img {
  margin: 0;
  padding: 0;
}
.button {
    background-color: #d0a98f;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    border: 1px black solid;
}
.button:hover {
    background-color: brown;
}
header {
  background-color: beige;
  background-image: url("../images/headerpicture.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 720px;
  text-align: center;
}

.logobox {
  display: inline-block;
  background-color: beige;
  width: 100%;
  height: 240px;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;

}

.flexing {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

}

.dimages {
  display: inline-block;
  width: 250px; 
  -webkit-filter: drop-shadow(2px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  /*learn how this works 100%*/
  filter: drop-shadow(2px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
}
.figure {
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 20px;
}

.AboutUs  {
  text-align: center;
  font-family: Helvetica;
  background-color: beige;
  background-image: url("../images/aboutheader.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  color: white;
}

.socialimages{
  margin-right: 10px;
}
.info {
  margin: 20px;
  padding: 10px;

}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.jacknsyl{
  width: 250px;
  float: right;
  margin-right: 20px;
  margin-left: 10px;
  border: 5px white solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ContactUs {
  clear:both;
  text-align: center;
}