
html {
  background-color: beige;
}
header, p, div, body, img {
  margin: 0;
  padding: 0;
}
.button {
    background-color: #c19b4f;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
.button:hover {
    background-color: brown;
}
header {
  background-color: beige;
  background-image: url("../images/headerpicture.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 720px;
  text-align: center;
}

.logobox {
  display: inline-block;
  background-color: beige;
  height: 240px;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;

}

.flexing {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

}

.dimages {
  display: inline-block;
  width: 250px; 
}
.figure {
  text-align: center;
}

.AboutUs  {
  background-color: brown;
}